/* Global CSS */

body{
	margin:0px;
	font-family:"ו",Arial, Helvetica, sans-serif;
	background-color:#ffffff;
	background-repeat:repeat;
	background-position: left top;
}

body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,img,textarea,blockquote,p
	{
	padding: 0;
	margin: 0;
}

input,select,textarea,table,td {
	font-size: 12px;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	border: 0;
	font: 12px normal;
}

img {
	border: 0;
}

.dlBorder {
	width: 100%;
	height: 100%;
	background-image: url(../images/dt.jpg);
}

.loginBg {
	width: 100%;
	height: 100%;
	background-image: url(../images/dt.jpg);
	background-repeat: repeat-x;
	background-position: top center;
}

.divBg {
	width: 677px;
	height: 391px;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px auto;
	/*FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/bg.png);*/
}

.listTable{
    /*background-color:#A8CBEF;*/
	border-left:1px solid #7FCFF2;
	border-bottom:1px solid #7FCFF2;
	border-right:1px solid #7FCFF2;
}
.listTableHead{
    background-color:#7FCFF2;
	text-align: center;
	vertical-align: middle;
	height:25px;
	font-size:12px;
    color:#ffffff;
}
.listTableBottom{
    background-color:#7FCFF2;
	text-align: left;
	vertical-align: middle;
	height:25px;
	padding:3px;
}
.listTableHeadTH{
    border:1px solid #ffffff;
	border-left:0px;
	text-align: center;
	vertical-align: middle;
	height:25px;
}
.listTableHeadTHLast{
    border:1px solid #ffffff;
	border-left:0px;
	/*border-right:1px solid #A8CBEF;*/
	border-right:0px;
	text-align: center;
	vertical-align: middle;
	height:25px;
}
.listTableHeadDIV{
    background-color:#7FCFF2;
	color:#FFFFFF;
    height:25px;
	width:100%;
	text-align: center;
	vertical-align: middle;
	padding-top:3px;
}
.listTableHeadDIVFirst{
    background-color:#7FCFF2;
	color:#FFFFFF;
	border-left:1px solid #ffffff;
    height:25px;
	width:100%;
	text-align: center;
	vertical-align: middle;
	padding-top:3px;
}
.listTableHeadDIVLast{
    background-color:#7FCFF2;
	color:#FFFFFF;
	border-right:1px solid #ffffff;
    height:25px;
	width:100%;
	text-align: center;
	vertical-align: middle;
	padding-top:3px;
}
.listTableLine1{
    background-color:#FFFFFF;
    height:25px;
	border-TOP:1px solid #A8CBEF;
	border-right:1px solid #A8CBEF;
	padding:3px;
}
.listTableLine2{
    background-color:#F3F7FC;
    height:25px;
	border-TOP:1px solid #A8CBEF;
	border-right:1px solid #A8CBEF;
	padding:3px;
}
.listLine1{
    background-color:#FFFFFF;
}
.listLine2{
    background-color:#F3F7FC;
}

.listTableLineLastTD{
	border-RIGHT:0px;
}
